<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SHEETS API NODE JS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GG</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
      </div>
    </div>
  </nav><br><br>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <center><strong>
            <h1>GAYGUIDE</h1>
          </strong></center>
      </div>
      <div class="card-body">
        <form action="" method="POST">
          <div class="form-group">
            <label for="formGroupExampleInput">Are you Gay?</label>
            <input type="text" class="form-control" id="gay" name="gay" placeholder="Yes/No">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">What is your name?</label>
            <input type="text" class="form-control" id="username" name="username">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">For how long have you been gay?</label>
            <input type="text" class="form-control" id="duration" name="duration">
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>